<div class="container">
    <h1 style="margin-top: 20px; margin-bottom: 20px; text-align: center;">Register Page</h1>

    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}

        <label for="username">Username: </label><br><br>
        {{form.username}}<br><br>

        <label for="first_name">First Name: </label><br><br>
        {{form.first_name}}<br><br>

        <label for="last_name">Last Name: </label><br><br>
        {{form.last_name}}<br><br>

        <label for="email">Email: </label><br><br>
        {{form.email}}<br><br>

        <label for="password1">Password: </label><br><br>
        {{form.password1}}<br><br>

        <label for="password2">Confirm Password: </label><br><br>
        {{form.password2}}<br><br><br>

        <input type="submit" value="Register" style="color: orangered; padding: 10px;">
    </form>
    <p>Already have an account?</p>
    <a href="{% url 'login-page' %}">Login here</a>
</div>